/* The base styles for all pages */

body{
    background-color: #808080;
    font-family: Cambria, sans-serif;

    background-image: url("/static/images/main-background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
     background-size: contain;
}
