.header {
    background-color: #343232;

}
.logo {
    position: relative;
    top: 40px
}
.title {
    font-family: Roboto, sans-serif;
    font-size: 32px;
    position: relative;
    left:120px;
}

a:link {
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}