.header {
    color: antiquewhite;
}

.statistics {
    color: antiquewhite;
}


.saving_throws {
    color: antiquewhite;
}

.battle {
    color: antiquewhite;

}

.equipment {
    color: antiquewhite;

}

.skills {
    color: antiquewhite;

}

.languages_and_other_proficiencies {
    color: antiquewhite;

}

.personality {
    color: antiquewhite;

}

.other {
    color: antiquewhite;

}