{% extends 'main.html' %}
{% load static %}

{% block content %}

      <link rel='stylesheet' type='text/css' media='screen' href="{% static 'stylesheets/glossary.css'%}">

<div class ="all">
    <h1 class="glos-title">
    Glossary
    </h1>

    <div>
        <h2>
            Character Description:
        </h2>
            <h3>
                Level
            </h3>

    <p> The level of your character. Gain levels increase your ability scores which
augment your characters abilities. Gain experience points to level up. </p>
    </div>

    <div>
            <h3>
                Race
            </h3>
    <p> Choose a race for your character. When selecting a race, keep in mind the kind of
character you want to play. For example, a halfling could
be a good choice for a sneaky rogue, a dwarf makes a
tough warrior, and an elf can be a master of arcane magic. Check out the 5th
Edition handbook for a complete overview of each Race. </p>

    </div>

    <div>
            <h3>
                Class
            </h3>
    <p> Your class is the primary definition of what your character does. When choosing a class,
you should think about how you want your character to interact with the world, whether it be
how they fight, what abilities they can use, which special features they have access to, etc.
Choose wisely. Check out the 5th Edition handbook for a complete overview of each Class. </p>

    </div>

    <div>
            <h3>
                Background
            </h3>
    <p> A characters background reveals where they came from, how they became an adventurer,
and where they fit in the world they're about to enter. Choose between a list of options,
granting you two skills, tool and/or language proficiencies, and a set of starting equipment.
Check out the 5th Edition handbook for a complete overview of the Background. </p>

    </div>

    <div>
            <h3>
                Alignment
            </h3>
    <p> Your characters outlook on life. Is your character a rule follower? Or do they prefer the
random nature of chaos? Are they altruistic and good? Or are they bad to the bone? The choice is yours... </p>

    </div>

    <div>
            <h3>
                Exp
            </h3>
    <p> Experience Points. Exp is awarded for various tasks your character completes, like dispatching monsters,
evading capture, escaping a trap room, etc. </p>

    </div>

    <div>
            <h3>
                Inspiration
            </h3>
    <p> This is a GM's reward, given to a player for staying true to themselves.
Use your background, class, alignments and other character traits to help guide your decision-making,
and inspiration may strike you at any moment... </p>

    </div>

    <h2>
        Abilities:
    </h2>

    <div>
            <h3>
                Strength
            </h3>
    <p> Your characters physical power. </p>

    </div>

    <div>
            <h3>
                Dexterity
            </h3>
    <p> Your character's agility. </p>

    </div>

    <div>
            <h3>
                Constitution
            </h3>
    <p> Your character's endurance. </p>

    </div>

    <div>
            <h3>
                Constitution
            </h3>
    <p> Your character's endurance. </p>

    </div>

    <div>
            <h3>
               Intelligence
            </h3>
    <p> Your character's reasoning and memory. </p>

    </div>

    <div>
            <h3>
              Wisdom
            </h3>
    <p> Your character's attunement to the world around them. </p>

    </div>

     <h2>
        Skills:
    </h2>

    <div>
            <h3>
              Acrobatics (Dex)
            </h3>
    <p> Your Dexterity (Acrobatics) check covers your attempt to stay on your feet in a tricky situation,
such as when you’re trying to run across a sheet of ice, balance on a tightrope, or stay upright on a rocking ship’s deck.
It can also be used to check to see if you can perform acrobatic stunts, including dives, rolls, somersaults, and flips. </p>

    </div>

    <div>
            <h3>
              Animal Handling (Wis)
            </h3>
    <p> When there is any question whether you can calm down a domesticated animal, keep a mount from getting spooked, or intuit an animal’s intentions,
the GM might call for a Wisdom (Animal Handling) check. </p>

    </div>

    <div>
            <h3>
              Arcana (Int)
            </h3>
    <p> Your Intelligence (Arcana) check measures your ability to recall lore about Spells, magic items,
eldritch Symbols, magical traditions, The Planes of existence, and the inhabitants of those planes. </p>

    </div>

    <div>
            <h3>
              Athletics (Str)
            </h3>
    <p> Your Strength (Athletics) check covers difficult situations you encounter while climbing, Jumping, or Swimming. </p>

    </div>

    <div>
            <h3>
              Deception (Cha)
            </h3>
    <p> Your Charisma (Deception) check determines whether you can convincingly hide the truth, either verbally or through your actions. </p>

    </div>

    <div>
            <h3>
              History (Int)
            </h3>
    <p> Your Intelligence (History) check measures your ability to recall lore about historical events,
legendary people, ancient kingdoms, past disputes, recent wars, and lost civilizations. </p>

    </div>

    <div>
            <h3>
                Insight (Wis)
            </h3>
    <p> Your Wisdom (Insight) check decides whether you can determine the true intentions of a creature, such as when searching out a lie or
predicting someone’s next move. </p>

    </div>

    <div>
            <h3>
                Intimidation (Cha)
            </h3>
    <p> When you attempt to Influence someone through overt threats, Hostile Actions, and physical violence, the GM might ask you to make a Charisma (Intimidation) check. </p>

    </div>

    <div>
            <h3>
                Investigation (Int)
            </h3>
    <p> When you look around for clues and make deductions based on those clues, you make an Intelligence (Investigation) check. </p>

    </div>

    <div>
            <h3>
                Medicine (Wis)
            </h3>
    <p> A Wisdom (Medicine) check lets you try to stabilize a dying Companion or diagnose an illness. </p>

    </div>

    <div>
            <h3>
                Nature (Int)
            </h3>
    <p> Your Intelligence (Nature) check measures your ability to recall lore about terrain, Plants and animals, the weather, and natural cycles. </p>

    </div>

    <div>
            <h3>
                Perception (Wis)
            </h3>
    <p> Your Wisdom (Perception) check lets you spot, hear, or otherwise detect the presence of something. It measures your general awareness of your
surroundings and the keenness of your senses. </p>

    </div>

    <div>
            <h3>
                Performance (Cha)
            </h3>
    <p> Your Charisma (Performance) check determines how well you can delight an audience with music, dance, Acting, Storytelling,
or some other form of entertainment. </p>

    </div>

    <div>
            <h3>
                Persuasion (Cha)
            </h3>
    <p> When you attempt to Influence someone or a group of people with tact, social graces, or good Nature, the GM might ask you to make a Charisma (Persuasion) check. </p>

    </div>

    <div>
            <h3>
                Religion (Int)
            </h3>
    <p> Your Intelligence (Religion) check measures your ability to recall lore about deities, rites and prayers,
religious hierarchies, holy Symbols, and the practices of Secret cults. </p>

    </div>

    <div>
            <h3>
                Sleight of Hand (Dex)
            </h3>
    <p> Whenever you attempt an act of legerdemain or manual trickery,
such as planting something on someone else or concealing an object on your person, make a Dexterity (Sleight of Hand) check. </p>

    </div>

    <div>
            <h3>
                Stealth (Dex)
            </h3>
    <p>Make a Dexterity (Stealth) check when you attempt to conceal yourself from enemies, slink past guards,
slip away without Being Noticed, or sneak up on someone without being seen or heard. </p>

    </div>

    <div>
            <h3>
               Survival (Wis)
            </h3>
    <p>The GM might ask you to make a Wisdom (Survival) check to follow tracks, hunt wild game, guide your group through frozen wastelands, Identify signs that owlbears live nearby,
predict the weather, or avoid Quicksand and other natural Hazards. </p>

    </div>

</div>
{% endblock content %}