{% extends 'main.html' %}

{% block content %}

    <h1>
    Home Template
    <h1>

        <div>
            <a href="{% url 'create-sheet' %}">Create Character Sheet</a>
            <div>

                {% for room in rooms %}
                <div>

                    <p><a href="{% url 'room' room.id %}">{{room.name}}</a></p>

                    <div>
                        {% endfor %}

                        <div>
                            <div>
                                <a href="{% url 'glossary' %}"> Glossary</a>
                            </div>
                            <p>Sheets</p>
                            <div>

                                {% for sheet in sheets %}
                                <div>
                                    {% if request.user == sheet.user or request.user.is_superuser %}
                                    <p><a href="{% url 'sheet' sheet.id %}">{{sheet.name}}</a></p>
                                    {% endif %}
                                    <div>
                                        {% endfor %}

                                        <div>
                                            <div>


                                                {% endblock content %}