{% extends 'main.html' %}

{% block content %}

    <h1>
    Home Template
    <h1>

    <h2>
        <div>
            <a href="{% url 'create-sheet' %}">Create Character Sheet</a>
            <p>Rooms</p>
            <div>

                {% for room in rooms %}
                    <div>

                        <p> <a href="{% url 'room' room.id %}">{{room.name}}</a> </p>

                    <div>
                {% endfor %}

            <div>
            <p>Sheets</p>
            <div>

                {% for sheet in sheets %}
                    <div>

                        <p> <a href="{% url 'sheet' sheet.id %}">{{sheet.name}}</a> </p>

                    <div>
                {% endfor %}

            <div>
        <div>
    </h2>

{% endblock content %}