{% extends 'main.html' %}
{% load static %}

{% block content %}

<link rel='stylesheet' type='text/css' media='screen' href="{% static 'stylesheets/home.css'%}">

<div class = "body">
    <a href="{% url 'create-sheet' %}">Create Character Sheet</a>
    <div>

        <p><a href="{% url 'user-profile' %}">Existing Characters</a></p>

        <p><a href="{% url 'rate-options' %}">Rate Character Options</a></p>

        <p><a href="{% url 'glossary' %}">Glossary</a></p>

    </div>
</div>

{% endblock %}