{% extends 'main.html' %}
{% load static %}

{% block content %}

    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'stylesheets/login.css'%}">

    <div class="fields">


    <form class="info" method = "POST" action = "">
        {% csrf_token %}
        <div class = "username">
            <label>Username:</label>
            <input type="text" name = "username" placeholder = "Enter Username">
        </div>

        <div class = "password">
            <label>Password:</label>
            <input type="password" name = "password" placeholder = "Enter Password">
        </div>

        <div class = "button">
            <input type="Submit" value="Login">
        </div>

    </form>

    </div>

{% endblock content %}