
{% extends 'main.html' %}
{% load static %}

{% block content%}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'stylesheets/profile.css'%}">

<style>
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    td {
        width: 25%;
        text-align: center;
    }

</style>


<div class = "profile-container">


    <div>
        <h3>Character Filter:</h3>
        <form method="GET" action="">
            <input type="text" name="q" placeholder="Search Sheets..."/>
            <input type="submit" value="Search">
        </form>

        <span class="search-outcome-txt">{{found}}</span>

        <p>Default search filter is by name.</p>
        <p>To filter by either name, level, class and date created search in the search format: &ltkeyword to filter
            result &gt; ; &ltsearch query&gt</p>
        <p>To search by date, only use numeric format: date ; year-month-day</p>

        <hr>
    </div>

    <table text-align="center">
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Level</th>
            <th>Date Created</th>
        </tr>

        {% for sheet in sheets %}
        {% if request.user == sheet.user or request.user.is_superuser %}
        <tr>
            <td><a href="{%url 'sheet' sheet.id %}" class="row-link">{{sheet.name}}</a></td>
            <td><a href="{%url 'sheet' sheet.id %}" tableindex="-1" class=row-link>{{sheet.classes}}</a></td>
            <td><a href="{%url 'sheet' sheet.id %}" tableindex="-1" class=row-link>{{sheet.lvl}}</a></td>
            <td><a href="{%url 'sheet' sheet.id %}" tableindex="-1" class=row-link>{{sheet.created}}</a></td>
        </tr>
        {% endif %}
        {% endfor %}

    </table>

</div>

{% endblock content %}