{% extends 'main.html' %}
{% load static %}

{% block content%}

    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'stylesheets/sheet_form.css'%}">

    <div class="all">
    <form method="POST" action="">
        {% csrf_token %}

        <div class="header">
            <div class="fieldWrapper">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}"> Name*:</label>
                {{ form.name }}
            </div>
            <div class="fieldWrapper">
                {{ form.lvl.errors }}
                <label for="{{ form.lvl.id_for_label }}"> Level:</label>
                {{ form.lvl }}
            </div>
            <div class="fieldWrapper">
                {{ form.race.errors }}
                <label for="{{ form.name.id_for_label }}"> Race*:</label>
                {{ form.race }}
            </div>
            <div class="fieldWrapper">
                {{ form.classes.errors }}
                <label for="{{ form.name.id_for_label }}"> Class:</label>
                {{ form.classes }}
            </div>
            <div class="fieldWrapper">
                {{ form.background.errors }}
                <label for="{{ form.name.id_for_label }}"> Background*:</label>
                {{ form.background }}
            </div>
            <div class="fieldWrapper">
                {{ form.alignment.errors }}
                <label for="{{ form.name.id_for_label }}"> Alignment:</label>
                {{ form.alignment }}
            </div>
            <div class="fieldWrapper">
                {{ form.exp.errors }}
                <label for="{{ form.name.id_for_label }}"> Exp:</label>
                {{ form.exp }}
            </div>
            <div class="fieldWrapper">
                {{ form.inspiration.errors }}
                <label for="{{ form.name.id_for_label }}"> Inspiration:</label>
                {{ form.inspiration }}
            </div>
        </div>

        <div class="statistics">
            <div class="fieldWrapper">
                {{ form.str.errors }}
                <label for="{{ form.str.id_for_label }}"> Str:</label>
                {{ form.str }}
            </div>
            <div class="fieldWrapper">
                {{ form.dex.errors }}
                <label for="{{ form.str.id_for_label }}"> Dex:</label>
                {{ form.dex }}
            </div>
            <div class="fieldWrapper">
                {{ form.con.errors }}
                <label for="{{ form.str.id_for_label }}"> Con:</label>
                {{ form.con }}
            </div>
            <div class="fieldWrapper">
                {{ form.wis.errors }}
                <label for="{{ form.str.id_for_label }}"> Wis:</label>
                {{ form.wis }}
            </div>
            <div class="fieldWrapper">
                {{ form.int.errors }}
                <label for="{{ form.str.id_for_label }}"> Int:</label>
                {{ form.int }}
            </div>
            <div class="fieldWrapper">
                {{ form.cha.errors }}
                <label for="{{ form.str.id_for_label }}"> Cha:</label>
                {{ form.cha }}
            </div>
        </div>

        <div class="saving throws">
            <div class="fieldWrapper">
                {{ form.savThrow.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Saving Throws:</label>
                {{ form.savThrow }}
            </div>
        </div>

        <div class="battle">
            <p>Total</p>
            <p>Current </p>
            <div class="fieldWrapper">
                {{ form.numHitDice.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Hit Dice:</label>
                {{ form.numHitDice }}
                {{ form.currentHitDice.errors }}
                {{ form.currentHitDice }}
                {{ form.hitDice.errors }}
                {{ form.hitDice }}
            </div>
            <div class="fieldWrapper">
                {{ form.initiationRoll.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Initiation:</label>
                {{ form.initiationRoll }}
            </div>
            <div class="fieldWrapper">
                {{ form.speed.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Speed:</label>
                {{ form.speed }} ft
            </div>
            <div class="fieldWrapper">
                <p>Total</p>
                <p>Current </p>
                {{ form.maxHp.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> HP:</label>
                {{ form.maxHp }}
                {{ form.current.errors }}
                {{ form.current }}
                {{ form.tempHp.errors }}
                {{ form.tempHp }}
            </div>
            <div class="fieldWrapper">
                <p>Success</p>
                <p>Failure </p>
                {{ form.maxHp.errors }}
                {{ form.current.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Death Saves:</label>
                {{ form.deathSuccess }}
                {{ form.deathFail }}
            </div>
        </div>

        <div class="equipment">
            <p>Total</p>
            <p>Current </p>
            <div class="fieldWrapper">
                {{ form.armourAC.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> AC:</label>
                {{ form.armourAC }}
            </div>
            <div class="fieldWrapper">
                {{ form.pp.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> pp:</label>
                {{ form.pp }}
            </div>
            <div class="fieldWrapper">
                {{ form.gp.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> gp:</label>
                {{ form.gp }}
            </div>
            <div class="fieldWrapper">
                {{ form.sp.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> sp:</label>
                {{ form.sp }}
            </div>
            <div class="fieldWrapper">
                {{ form.cp.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> cp:</label>
                {{ form.cp }}
            </div>
            <div class="fieldWrapper">
                {{ form.equipment.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Equipment:</label>
                {{ form.equipment }}
            </div>
        </div>

        <div class="skills">
            <div class="fieldWrapper">
                {{ form.skills.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Skills:</label>
                {{ form.skills }}
            </div>
        </div>

        <div class="language and other proficiencies">
            <div class="fieldWrapper">
                {{ form.language.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Language:</label>
                {{ form.language }}
            </div>
            <div class="fieldWrapper">
                {{ form.proficiencies.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Proficiencies:</label>
                {{ form.proficiencies }}
            </div>
        </div>

        <div class="personality">
            <div class="fieldWrapper">
                {{ form.personality.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Traits:</label>
                {{ form.personality }}
            </div>
            <div class="fieldWrapper">
                {{ form.ideals.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Ideals:</label>
                {{ form.ideals }}
            </div>
            <div class="fieldWrapper">
                {{ form.bonds.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Bonds:</label>
                {{ form.bonds }}
            </div>
            <div class="fieldWrapper">
                {{ form.flaws.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Flaws:</label>
                {{ form.flaws }}
            </div>
        </div>

        <div class="other">
            <div class="fieldWrapper">
                {{ form.features.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Features:</label>
                {{ form.features }}
            </div>
            <div class="fieldWrapper">
                {{ form.spells.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Spells:</label>
                {{ form.spells }}
            </div>
            <div class="fieldWrapper">
                {{ form.notes.errors }}
                <label for="{{ form.savThrow.id_for_label }}"> Notes:</label>
                {{ form.notes }}
            </div>
        </div>

        <p>Fields denoted with * are required.</p>

        <input type="submit" value="Submit"/>
    </form>
</div>

{% endblock content %}